<app-header></app-header>
<div class="lg:mx-36 mx-8 mt-5">
  <div class="lg:flex lg:items-center lg:justify-between mb-16">
    <div class="min-w-0 flex-1">
      <h2
        class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"
      >
        <span class="font-semibold">Consultation du livre:</span> {{book.title}}
      </h2>
      <div
        class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6"
      >
        <div class="mt-2 flex items-center text-sm text-gray-500">
          <svg
            class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M6 3.75A2.75 2.75 0 018.75 1h2.5A2.75 2.75 0 0114 3.75v.443c.572.055 1.14.122 1.706.2C17.053 4.582 18 5.75 18 7.07v3.469c0 1.126-.694 2.191-1.83 2.54-1.952.599-4.024.921-6.17.921s-4.219-.322-6.17-.921C2.694 12.73 2 11.665 2 10.539V7.07c0-1.321.947-2.489 2.294-2.676A41.047 41.047 0 016 4.193V3.75zm6.5 0v.325a41.622 41.622 0 00-5 0V3.75c0-.69.56-1.25 1.25-1.25h2.5c.69 0 1.25.56 1.25 1.25zM10 10a1 1 0 00-1 1v.01a1 1 0 001 1h.01a1 1 0 001-1V11a1 1 0 00-1-1H10z"
              clip-rule="evenodd"
            />
            <path
              d="M3 15.055v-.684c.126.053.255.1.39.142 2.092.642 4.313.987 6.61.987 2.297 0 4.518-.345 6.61-.987.135-.041.264-.089.39-.142v.684c0 1.347-.985 2.53-2.363 2.686a41.454 41.454 0 01-9.274 0C3.985 17.585 3 16.402 3 15.055z"
            />
          </svg>
          <div class="flex flex-wrap mt-1">
            <span
              *ngFor="let category of book.categories"
              class="inline-flex items-center mr-1 rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
            >
              {{ category.name }}
            </span>
          </div>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
          <svg
            class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z"
              clip-rule="evenodd"
            />
          </svg>
          {{book.language}}
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
          <svg
            class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
              clip-rule="evenodd"
            />
          </svg>
          Publié le : {{getStrDate()}}
        </div>
        <div class="mt-2">
          <div
            *ngIf="book.reservation === null && book.loans.length == 0"
            class="mt-1 flex items-center gap-x-1.5"
          >
            <div class="flex-none rounded-full bg-emerald-500/20 p-1">
              <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
            </div>
            <p class="text-xs leading-5 text-gray-500">Disponible</p>
          </div>
          <div
            *ngIf="book.reservation != null"
            class="mt-1 flex items-center gap-x-1.5"
          >
            <div class="flex-none rounded-full bg-orange-500/20 p-1">
              <div class="h-1.5 w-1.5 rounded-full bg-orange-500"></div>
            </div>
            <p class="text-xs leading-5 text-gray-500">Réservé</p>
          </div>
          <div
            *ngIf="book.loans.length != 0"
            class="mt-1 flex items-center gap-x-1.5"
          >
            <div class="flex-none rounded-full bg-red-500/20 p-1">
              <div class="h-1.5 w-1.5 rounded-full bg-red-500"></div>
            </div>
            <p class="text-xs leading-5 text-gray-500">Emprunté</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 flex lg:ml-4 lg:mt-0">
      <span class="ml-3 hidden sm:block">
        <button
          type="button"
          *ngIf="book.reservation === null && book.loans.length === 0"
          class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          (click)="putOnHoldPopUp = true"
        >
          <svg
            class="-ml-0.5 mr-1.5 h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"
            />
          </svg>
          Réserver
        </button>
        <button
          type="button"
          *ngIf="book.reservation != null ||  book.loans.length != 0"
          class="inline-flex items-center rounded-md px-3 py-2 text-sm font-semibold shadow-sm ring-1 ring-inset ring-gray-300"
          [class.bg-gray-300]="true"
          [class.text-gray-500]="true"
          disabled
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-grey-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
          Livre indisponible
        </button>
      </span>
    </div>
  </div>
  <div class="relative" *ngIf="success">
    <div class="bg-green-500 p-4 rounded-lg shadow-md mb-4 mt-8">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <div class="w-6 h-6 mr-2"></div>
          <div class="text-white">
            <p class="text-lg font-semibold">Succés!</p>
            <p>
              Votre réservation a bien été prise en compte. Vous avez 7 jours
              pour venir emprunter le livre.
            </p>
          </div>
        </div>
        <button
          class="text-gray-200 hover:text-gray-400 focus:outline-none"
          aria-label="Close"
          (click)="success = false"
        >
          <svg
            class="w-4 h-4 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M6 18L18 6M6 6l12 12"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="grid lg:grid-cols-3 md:grid-cols-1 gap-4 mb-16">
    <div
      class="flip-container col-span-1"
      ontouchstart="this.classList.toggle('hover');"
    >
      <div class="flipper">
        <div class="front">
          <div style="position: relative">
            <img
              src="assets/blank-book.jpg"
              alt="Avatar"
              class="img-fluid rounded-lg shadow-lg"
              style="width: 300px; height: 400px"
            />
            <img
              [src]="book.coverLink"
              alt="Avatar"
              class="shadow-lg rounded-sm object-cover"
              style="
                position: absolute;
                top: 45px;
                left: 70px;
                width: 160px;
                height: 310px;
              "
            />
            <p
              style="
                position: absolute;
                top: 45px;
                left: 70px;
                width: 160px;
                height: 310px;
                font-size: 0.9em;
                padding: 10px;
                font-family: monospace, sans-serif;
              "
            >
              {{book.title}}
            </p>
          </div>
          <p class="text-sm text-gray-500 mt-2 mr-4 text-center">
            Survolez pour retourner le livre
          </p>
        </div>
        <div class="back">
          <div class="image-container">
            <img
              src="assets/blank-book.jpg"
              alt="Avatar"
              class="img-fluid rounded-lg shadow-lg"
              style="width: 300px; height: 400px"
            />
            <p class="centered-text text-gray-500 mt-6">
              <strong>Résumé : </strong><br />
              {{book.summary}}
            </p>
          </div>
          <p class="text-sm text-gray-500 mt-2 mr-4 text-center">
            Survolez pour retourner le livre
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <!-- Description -->
      <div class="mb-4">
        <p>Par: <strong>{{getAuthorsNames()}}</strong></p>
        <p class="text-gray-700">{{book.summary}}</p>
        <p class="text-gray-700 text-sm mt-5">
          Nombre de pages : <i>{{book.pageNumber}}</i>
        </p>
      </div>

      <!-- Étoiles de notation -->
      <div>
        <span *ngFor="let i of this.starCount" class="text-yellow-500">★</span>
        <span *ngFor="let i of this.noStarCount" class="text-gray-300">☆</span>
        <span class="text-gray-300 text-sm"
          >({{this.starCount.length}} / 5)</span
        >
      </div>

      <div class="bg-white">
        <div>
          <div
            class="mx-auto grid max-w-2xl grid-cols-2 gap-x-8 border-t border-gray-200 sm:mt-8 sm:pt-6 lg:mx-0 lg:max-w-none lg:grid-cols-2"
          >
            <app-review-card
              *ngFor="let review of reviews"
              [review]="review"
            ></app-review-card>

            <!-- More posts... -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- En savoir plus sur les auteurs section -->
  <div class="mb-8">
    <h3 class="text-lg font-semibold leading-6 text-gray-900">
      En savoir plus sur les auteurs
    </h3>
    <div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <!-- Author avatar on the left and firstname lastname on the right-->
      <div
        *ngFor="let author of book.authors"
        class="flex flex-col rounded-lg shadow-lg overflow-hidden transition-all duration-200 ease-in-out transform hover:border-indigo-600 hover:border-4"
        style="cursor: pointer"
        routerLink="/author/{{author.id}}"
      >
        <div class="flex-shrink-0">
          <img
            class="h-48 w-full object-cover"
            [src]="author.photoLink"
            alt=""
          />
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-lg font-medium text-indigo-600">
              {{author.firstname}} {{author.lastname}}
            </p>
            <a class="block mt-2">{{author.description}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative z-10"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
    *ngIf="putOnHoldPopUp && isConnected && myReservations.length != 3"
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div
        class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
        >
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div
                class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 text-green-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
              </div>
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3
                  class="text-base font-semibold leading-6 text-gray-900"
                  id="modal-title"
                >
                  Réserver le livre
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    Votre réservation sera maintenue pendant 7 jours. Après ce
                    délai, votre réservation sera annulée <br />
                    <br />
                    Une réservation vous engage à emprunter le livre dans les
                    délais pour ne pas pénaliser les autres lecteurs. <br />
                    <br />
                    <strong
                      >Vous-avez encore droit à {{3 - myReservations.length}}
                      réservations sur 3.</strong
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button
              type="button"
              data-tooltip-target="tooltip-no-arrow"
              class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:green-red-500 sm:ml-3 sm:w-auto"
              (click)="submitReservation()"
            >
              Réserver
            </button>
            <button
              type="button"
              class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
              (click)="putOnHoldPopUp = false"
            >
              Annuler
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative z-10"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
    *ngIf="putOnHoldPopUp && myReservations.length >= 3"
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div
        class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
        >
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div
                class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 text-red-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </div>
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3
                  class="text-base font-semibold leading-6 text-gray-900"
                  id="modal-title"
                >
                  Réserver le livre
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    Vous ne pouvez pas réserver plus de 3 livres à la fois.
                    <br />
                    <br />
                    Merci de venir emprunter un livre pour pouvoir en réserver
                    un.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button
              type="button"
              data-tooltip-target="tooltip-no-arrow"
              class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto"
              (click)="putOnHoldPopUp = false"
            >
              Revenir en arrière
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative z-10"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
    *ngIf="putOnHoldPopUp && !isConnected"
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div
        class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
        >
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div
                class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="h-6 w-6 text-blue-600"
                >
                  <path d="M13 12V19M13 5H13.01"></path>
                </svg>
              </div>
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3
                  class="text-base font-semibold leading-6 text-gray-900"
                  id="modal-title"
                >
                  Vous n'êtes pas connecté.e
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    Vous devez être connecté.e pour pouvoir réserver un livre.
                    <br />
                    <br />
                    <a routerLink="/login" class="text-blue-500 hover:underline"
                      >Se connecter</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button
              type="button"
              class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
              (click)="putOnHoldPopUp = false"
            >
              Annuler
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
