<app-header></app-header>
<div class="lg:mx-36 mx-8 mt-5">
  <div class="lg:flex lg:items-center lg:justify-between mb-16">
    <div class="min-w-0 flex-1">
      <h2
        class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"
      >
        <span class="font-semibold">Consultation du livre:</span> {{book.title}}
      </h2>
      <div
        class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6"
      >
        <div class="mt-2 flex items-center text-sm text-gray-500">
          <svg
            class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M6 3.75A2.75 2.75 0 018.75 1h2.5A2.75 2.75 0 0114 3.75v.443c.572.055 1.14.122 1.706.2C17.053 4.582 18 5.75 18 7.07v3.469c0 1.126-.694 2.191-1.83 2.54-1.952.599-4.024.921-6.17.921s-4.219-.322-6.17-.921C2.694 12.73 2 11.665 2 10.539V7.07c0-1.321.947-2.489 2.294-2.676A41.047 41.047 0 016 4.193V3.75zm6.5 0v.325a41.622 41.622 0 00-5 0V3.75c0-.69.56-1.25 1.25-1.25h2.5c.69 0 1.25.56 1.25 1.25zM10 10a1 1 0 00-1 1v.01a1 1 0 001 1h.01a1 1 0 001-1V11a1 1 0 00-1-1H10z"
              clip-rule="evenodd"
            />
            <path
              d="M3 15.055v-.684c.126.053.255.1.39.142 2.092.642 4.313.987 6.61.987 2.297 0 4.518-.345 6.61-.987.135-.041.264-.089.39-.142v.684c0 1.347-.985 2.53-2.363 2.686a41.454 41.454 0 01-9.274 0C3.985 17.585 3 16.402 3 15.055z"
            />
          </svg>
          <div class="flex flex-wrap mt-1">
            <span
              *ngFor="let category of book.categories"
              class="inline-flex items-center mr-1 rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
            >
              {{ category.name }}
            </span>
          </div>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
          <svg
            class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z"
              clip-rule="evenodd"
            />
          </svg>
          {{book.language}}
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
          <svg
            class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
              clip-rule="evenodd"
            />
          </svg>
          Publié le : {{getStrDate()}}
        </div>
      </div>
    </div>
    <div class="mt-5 flex lg:ml-4 lg:mt-0">
      <span class="ml-3 hidden sm:block">
        <button
          type="button"
          class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          (click)="putOnHoldPopUp = true"
        >
          <svg
            class="-ml-0.5 mr-1.5 h-5 w-5 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z"
            />
            <path
              d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z"
            />
          </svg>
          Réserver
        </button>
      </span>

      <span class="sm:ml-3">
        <button
          type="button"
          class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          <svg
            class="-ml-0.5 mr-1.5 h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"
            />
          </svg>
          Emprunter
        </button>
      </span>
    </div>
  </div>
  <div class="grid lg:grid-cols-3 md:grid-cols-1 gap-4 mb-16">
    <div
      class="flip-container col-span-1"
      ontouchstart="this.classList.toggle('hover');"
    >
      <div class="flipper">
        <div class="front">
          <div style="position: relative">
            <img
              src="assets/blank-book.jpg"
              alt="Avatar"
              class="img-fluid rounded-lg shadow-lg"
              style="width: 300px; height: 400px"
            />
            <img
              [src]="book.coverLink"
              alt="Avatar"
              class="img-fluid shadow-lg rounded-sm"
              style="
                position: absolute;
                top: 45px;
                left: 70px;
                width: 160px;
                height: 310px;
              "
            />
            <p
              style="
                position: absolute;
                top: 45px;
                left: 70px;
                width: 160px;
                height: 310px;
                font-size: 0.9em;
                padding: 10px;
                font-family: monospace, sans-serif;
              "
            >
              {{book.title}}
            </p>
          </div>
          <p class="text-sm text-gray-500 mt-2 mr-4 text-center">
            Survolez pour retourner le livre
          </p>
        </div>
        <div class="back">
          <div class="image-container">
            <img
              src="assets/blank-book.jpg"
              alt="Avatar"
              class="img-fluid rounded-lg shadow-lg"
              style="width: 300px; height: 400px"
            />
            <p class="centered-text text-gray-500">
              <strong>Résumé : </strong><br />
              {{book.summary}}
            </p>
          </div>
          <p class="text-sm text-gray-500 mt-2 mr-4 text-center">
            Survolez pour retourner le livre
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <!-- Description -->
      <div class="mb-4">
        <p>Par: <strong>{{getAuthorsNames()}}</strong></p>
        <p class="text-gray-700">{{book.summary}}</p>
      </div>

      <!-- Étoiles de notation -->
      <div>
        <span *ngFor="let i of this.starCount" class="text-yellow-500">★</span>
        <span *ngFor="let i of this.noStarCount" class="text-gray-300">☆</span>
        <span class="text-gray-300 text-sm"
          >({{this.starCount.length}} / 5)</span
        >
      </div>

      <div class="bg-white">
        <div>
          <div
            class="mx-auto grid max-w-2xl grid-cols-2 gap-x-8 border-t border-gray-200 sm:mt-8 sm:pt-6 lg:mx-0 lg:max-w-none lg:grid-cols-2"
          >
            <app-review-card
              *ngFor="let review of reviews"
              [review]="review"
            ></app-review-card>

            <!-- More posts... -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  *ngIf="putOnHoldPopUp"
>
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div
              class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 text-green-600"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
                />
              </svg>
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3
                class="text-base font-semibold leading-6 text-gray-900"
                id="modal-title"
              >
                Réserver le livre
              </h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">
                  Votre réservation sera maintenue pendant 7 jours. Après ce
                  délai, votre réservation sera annulée <br />
                  <strong>Vous-avez encore droit à 3 réservations.</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button
            type="button"
            class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto"
          >
            Réserver
          </button>
          <button
            type="button"
            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
            (click)="putOnHoldPopUp = false"
          >
            Annuler
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
