{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="content-header">
        <h1>What's a Book - Bask Office</h1>
    </div>

    <!-- Votre contenu personnalisé ici -->
{% endblock %}